.item {
  height: 210px; /* Adjust the height as per your requirement */
  overflow: hidden; /* Hide overflowing content */
}

.header-area {
  border-bottom: 1px solid #efb611;
}
footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #efb611;
  color: #4e4e4e;
  text-align: center;
  font-weight: 600;
}
.main-nav {
  justify-content: center;
}

.header-area {
  display: flex;
  justify-content: center;
}

.header-area img {
  /* max-width: 550px; */
  max-height: 100%;
}

.containerTitle h2 {
  color: #efb611;
}

/* @media (max-width: 992px) {
  .header-area .main-nav .logo img {
    max-width: 400px;
  }
} */
